RFC 1519 / RFC 4632 — Require contiguous netmasks

Conceptually, it's possible to have non-contiguous netmasks when you're building networks.

Some background I've found during research:

- [IETF RFC 950] (1985) specifies that _contiguous_ netmasks are _not_ a requirement. Explicitly,

  > Since the bits that identify the subnet are specified by a
      bitmask, they need not be adjacent in the address.  However, we
      recommend that the subnet bits be contiguous and located as the
      most significant bits of the local address.

- [IETF RFC 1519] (1993) (superseded by [IETF RFC 4632], 2006) seems to require contiguous netmasks instead, though:

  > An implementation following these rules should also be generalized,
   so that an arbitrary network number and mask are accepted for all
   routing destinations.  The only outstanding constraint is that the
   mask must be left contiguous.

[IETF RFC 950]: https://tools.ietf.org/html/rfc950
[IETF RFC 1519]: https://tools.ietf.org/html/rfc1519
[IETF RFC 4632]: https://tools.ietf.org/html/rfc4632

This comes down to a question of intention.  I _intend_ for this crate to be used in _any_ networking scenario, and with this scope corner cases abound.  I could foresee a network operator deciding that—despite it being a terrible practice—using non-contiguous netmasks is a good idea, and they might want to check only a certain subset of the netmask.  The question at hand is: is it even _feasible_ for non-contiguous netmasks to be specified?

- On the _public internet_, the answer is _no_. Since allocations are now based on left-contiguous netmasks _only_ (per RFC1519 and 4632), it's not really possible to get something other than a `/xx`.
- But in the _private_ space, the answer is _maybe_. For example, what if I (as the operator) wanted only to give out DHCP leases that were odd-numbered, within a subnet? Or noncontiguous groups of devices? There's _nothing_ stopping me from doing so.

The problem is that supporting noncontiguous netmasks means we cannot use standard traits like `core::ops::RangeBounds`. Users _might_ expect those to be implemented, or might not care very much.